body{
	margin: 0;
	padding:0;
}

//seccion navbar
.nav-extended{
	.nav-wrapper{
   background-color:$color-blanco;
   width: 100%;
   text-align: center;
   margin-top:-30px;
    li {
     float: none;
     display: inline-block;
     color:$gris-titulos;
    	}
 	}
}


nav ul a{
	color:$gris-titulos;
}

.buscador{
	margin-top:20px;
}

.nav-content{
 	background-color:$color-blanco;
 	padding-bottom:10px;
 		.nav-content__img--logo{
 		width: 200px;	
  	}

 }

.nav-content .nav-content__img--logo{
	margin-left:510px;
}

.nav-title{
 	color:$gris-titulos;
 	margin-top:19px;
 }


.contenedor-linea__linea{
	background-color: $color-azul;
	padding:1px;
}

.contenedor-uno{
	@include contenedoruno;
		.contenedor-uno__parrafo--plomo{
		@extend .contenedor-dos__parrafo--fecha;
	}
}

.contenedor-dos{
	.contenedor-dos__parrafo--fecha{
	color:$gris-claro-fecha;
	}
}

.img-mail{
	@include imgmail();
}

.contenedor-dos{
	.cuadro{
	@include cuadro();
		.texto-cuadro{
		margin-left:10px;
			.enlace-cuadro{
			@extend .texto-cuadro;
			}
		}
	}
}

.contenedor-tres{
	@extend .contenedor-uno;
		.contenedor-tres__parrafo--plomo{
		@extend .contenedor-dos__parrafo--fecha;
	}
}

.titulos{
	color:$gris-titulos;
}


.page-footer{
	background-color:$color-blanco;
}



