body{
	margin: 0;
	padding:0;
}

//seccion navbar

.nav-wrapper{
   background-color:$color-blanco;
   width: 100%;
   text-align: center;
   margin-top:-30px;
    li {
     float: none;
     display: inline-block;
     color:$gris-titulos;
    }
 }

.buscador{
	margin-top:20px;
}

.nav-content{
 	background-color:$color-blanco;
 	padding-bottom:10px;
 }

.nav-content__img--logo{
 	width: 200px;	
  }

.nav-title{
 	color:$gris-titulos;
 	margin-top:19px;
 }

.nav-content .nav-content__img--logo{
	margin-left:510px;
}

nav ul a{
	color:$gris-titulos;
}



//contenedores
.contenedor-linea__linea{
	background-color: $color-azul;
	padding:1px;
}

.contenedor-uno{
	@include contenedoruno;
}

.contenedor-tres{
	@extend .contenedor-uno;
}

.titulos{
	color:$gris-titulos;
}

.contenedor-dos__parrafo--fecha{
	color:$gris-claro-fecha;
}

.contenedor-tres__parrafo--plomo{
	@extend .contenedor-dos__parrafo--fecha;
}

.contenedor-uno__parrafo--plomo{
	@extend .contenedor-dos__parrafo--fecha;
}


.page-footer{
	background-color:$color-blanco;
}

//cuadro con texto en contenedor-dos

.cuadro{
	@include cuadro();
	.texto-cuadro{
	margin-left:10px;
	}
}

.enlace-cuadro{
	@extend .texto-cuadro;
}

.img-mail{
	@include imgmail();
}

