$gris-titulos: #424242;
$gris-claro-fecha: #5f6368;
$gris-texto : #414549;
$color-azul : #4285f4;
$color-blanco:white;
$color_e:#B9140A;/*Rojo Oscuro Títulos*/
$color_f:#FA291C;/*Rojo claro fecha*/
$color_g:#4363B2;/*azul claro texto*/
$color_h:#3ABB11;/*verde*/

